USE [QuanLi]
GO
/****** Object:  StoredProcedure [dbo].[PHIEUGIAOHANG_LAYDS]    Script Date: 1/2/2017 8:28:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PHIEUGIAOHANG_LAYDS]

AS
BEGIN
	SELECT A.MaPGH,A.MaDDH, B.HoTen, C.HoTen, A.NgayLap, A.TongTien 
	FROM PhieuGiaoHang A, NHANVIEN B, KHACHHANG C, DonDatHang D
	WHERE A.MaNV=B.MaNV AND A.MaKH=C.MaKH AND D.MaDDH=A.MaDDH
END
GO
