USE [QuanLi]
GO
/****** Object:  StoredProcedure [dbo].[CT_PHIEUGIAOHANG_UPDATE]    Script Date: 1/2/2017 8:28:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CT_PHIEUGIAOHANG_UPDATE]
  (
	@MaPGH varchar(10),
	@MASP VARCHAR (10),

	@SOLUONG INT,
	@THANHTIEN INT,
	@GHICHU NVARCHAR(100)

	)
	AS
	BEGIN
		UPDATE CT_PhieuGiaoHang SET MaPGH = @MaPGH, MaSP = @MASP, SoLuong =@SOLUONG, ThanhTien = @THANHTIEN, GhiChu = @GHICHU
		WHERE MAPGH = @MaPGH AND MaSP = @MASP
	END
GO
