USE [QuanLi]
GO
/****** Object:  StoredProcedure [dbo].[CT_DONDATHANG_LAYDS]    Script Date: 1/2/2017 8:28:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CT_DONDATHANG_LAYDS]

AS
BEGIN
	SELECT A.MaDDH, b.MaSP,b.TenSP, C.SoLuong, b.DonGia, c.ThanhTien
	FROM DONDATHANG A, SANPHAM B, CT_DonDatHang C
	WHERE A.MaDDH = C.MaDDH AND C.MaSP= B.MaSP
END
GO
