USE [QuanLi]
GO
/****** Object:  StoredProcedure [dbo].[DONDATHANG_LAYDSmaddh]    Script Date: 1/2/2017 8:28:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[DONDATHANG_LAYDSmaddh]

AS
BEGIN
	SELECT MaDDH
	FROM DONDATHANG 
	
END
GO
